* {
  margin: 0;
}

body {
  background-color: #19212F;
}

.app {
  width: 100vw;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
}

.app__left {
  flex: 0.7;
}

.app__header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.app__header > h1 {
  color: #D60968;
  font-size: 2rem;
  text-decoration: underline;
}

.app__dropdown {
  background-color: white;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.app__right {
  margin: 20px;
}



@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}